<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937312548700-271q056ed8o2phamij0k4erjklqmhu5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937312548700-271q056ed8o2phamij0k4erjklqmhu5i</string>
	<key>API_KEY</key>
	<string>AIzaSyB0H9slgpUB50xgYh48Xj116tEcXqI4sWg</string>
	<key>GCM_SENDER_ID</key>
	<string>937312548700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cflbugs.ragFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>rag-for-lifestyle</string>
	<key>STORAGE_BUCKET</key>
	<string>rag-for-lifestyle.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937312548700:ios:cb4b57773f806e1376f399</string>
</dict>
</plist>